h1 {
  background: #6666CC;
  color: #FF9933;
  padding: 2px;;
  display: inline;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #FF8000;
}

a:visited {
  color: #FF8000;
}

a:hover{
  color: #FF3333;
}

.colortext {
color: rgb(255 255 153);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  list-style-image: url(faq_list5_2.png);
}

body {
  margin: 0;
  background: url(https://wallpapershome.ru/images/pages/pic_h/18939.jpg), rgba(150,150,150,0.5);
  background-blend-mode: color;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

figcaption {
  text-align: center;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;

  margin-left: .5em;
  padding-left: 90px
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

textarea {
  vertical-align: top;

  height: 5em;
  width: 300px;
  box-sizing: border-box;

  resize: both;

  border: 1px solid #999;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

.leftimg {
  float:left;
  margin: 15px 15px 15px 0;
  width: 350px;
  height: 350px;
}


.notetitle {
  border-bottom: none;
  padding: 3px;
  display: inline;
  background: #FAFAD2;
  font-size: 1em;
  margin: 0px;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  background-color: rgba(102, 102, 255, 0)
   }
.note {
  background: #FAFAD2;
  padding: 7px;
  margin: 0 0 1em 0;
  display: block;
  word-wrap: break-word;
  color: rgb(0, 0, 0);
  background-color: rgba(102, 102, 255, 0)
   }

.navigation a {
   display: block;
   background: linear-gradient(#FFFFFF,#339933);
   color: #000000;
   border-top: 1px solid blue;

   text-align: center;

   height: 30px;
   line-height: 30px;
   }

.navigation {
  width: 550px;
  border-bottom: 1px solid blue;
}

.main_pic {
  border: 5px solid #333333;
}

.introduction {
  text-align: center;

}

.line {
  border: none;
  background-color: #6666CC;
  height: 3px;
  width: 1000px;
}

.picture {
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}

.lines{
  display: block;
  column-count: 3;
  column-gap: 15%;
  column-width: auto;
  column-rule: 4px dashed black;
}

table {
  border: 1px solid black;
}

td, th {
  padding: 3px;
  border: 1px solid black;
}

th {
  text-align: left;
}

.title1 {
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  color: #FF9933;
  font-size: 2em;
}

.anime {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: radial-gradient(#55ddff, #00b56a);
  margin: 40px;
}

.rectangle {
  width: 220px;
  height: 120px;
  background: linear-gradient(#FFFFFF,#339933);
  transition:transform 1s ease-in-out, background 1s ease-in-out;
  margin: 10px;
}

.rectangle:hover {
  transform: rotate(15deg);
  margin: 10px;
}

.triangle_down {
  width: 0;
  height: 0;
  border-top: 140px solid #20a3bf;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  transition: transform 1s ease-in-out, background 1s ease-in-out;
  margin: 40px;
}

.triangle_down:hover {
  transform: rotate(-30deg);
  margin: 40px;
}

.threed1{
  transform: perspective(100px);
  margin: 30px;
  width: 200px;
  height: 200px;
  transition: transform 1s ease-in-out, background 1s ease-in-out;
  background: linear-gradient(#43C6AC, #191654);
}
.threed2 {
  transform: perspective(100px);
  margin: 30px ;
  width: 200px;
  height: 200px;
  transition: transform 2s ease-in-out, background 1s ease-in-out;
  background: linear-gradient(#43C6AC, #F8FFAE) ;
}
.threed1:hover{
  transform: rotateX(45deg);
  background: linear-gradient(#43C6AC, #191654);
}

.threed2:hover{
 transform: rotateY(75deg);
 background: linear-gradient(#43C6AC, #F8FFAE);
}

.animation {
  margin: 30px;
  width: 200px;
  height: 200px;
  transition: background 1s ease-out;
  background: white;
  border-radius: 40px;
  animation: rotate 5s ease infinite alternate;
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}

@keyframes rotate {
  0%{
    transform: rotate(45deg);
    background: rgba(255, 0, 0, 0.8);
  }
  25%{
    transform: rotate(-45deg);
    background: rgba(15, 32, 39, 0.8);
  }
  50%{
    transform: rotate(70deg);
    background: rgba(185, 43, 39, 0.8);
  }
  75%{
    transform: rotate(-70deg);
    background: rgba(21, 101, 192, 0.8);
  }
  100%{
    transform: rotate(0);
    background: rgba(255, 0, 0, 0.8);
  }
}


.animation2 {
  margin: 30px;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  background-color: #fff;
  position:relative;
  transition: background 1s ease-in-out;
  left: 0;
  animation-name: center;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  box-sizing: border-box;

}

@keyframes center {
  0%{
    left: 0;
    background: rgba(198, 255, 221, 0.9);
  }
  50%{
    left:500px;
    background: rgba(246, 79, 89, 0.9);
  }
  100%{
    left: 0px;
    background: rgba(109, 213, 250, 0.9);
  }
}

.imagee {
	position	: relative;
	width		: 100%;
}

.text2 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
  color: #FF0000;
}

.blue{
  color:blue;
  
}

#nextslide, #slide, #nextslide1,#slide1 {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#nextslide, #nextslide1 {
  padding: 50px;
  display: none;
}

.focus, .focus2{
  margin-left: 350px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 30pt;
}

.descriptionfocus{
  text-align: center;
  font-size: large;
}

.focus3 {
  background-color: #00b56a;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin-left:30px;
}

.focus3_1 {
  background-color: #191654;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin-left:30px;
}

.focus3_2 {
  background-color: #6666CC;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin-left:30px;
}

.last_anim{
  margin-left:30px;
}